.terminal {
    background-color: black;
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    border-radius: 5px;
    overflow: auto;
    height: 100%;
}

.output {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.commandLine {
    display: flex;
    align-items: center;
}

.prompt {
    color: #00ff00;
}

.commandInput {
    background: transparent;
    border: none;
    color: limegreen;
    outline: none;
    caret-color: limegreen;
    margin-left: 5px;
    padding-right: 5px;
}

/* Blinking animation */
@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@media (max-width: 600px) {
    .terminal {
        padding: 2px;
        overflow: auto;
    }

    .commandLine {
        flex-direction: column;
        align-items: flex-start;
    }

    .commandInput {
        margin-top: 5px;
        padding-right: 0;
    }
}